<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
        <h2>Rewards List</h2>
        <div class="reward mt-3">
            <div class="table-responsive">
              <table class="table table-bordered">
{#                <button id="addRewards" onclick="location.href='{% url 'add_item' %}'"><i class="fas fa-plus"></i> Add Item</i></button>#}
                    <thead>
                        <tr>
                         <th>ID</th>
                         <th>Username</th>
                         <th>Firstname</th>
                         <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                          {% for foo in model %}
                            <tr>
                                <td data-label="ID">{{ foo.id }}</td>
                                <td data-label="Rewards">{{ foo.email }}</td>
                                <td data-label="Points">{{ foo.first_name }}</td>
                                <td><button  class="update-btn" onclick="location.href='{% url 'update' foo.id %}'">
                                    Update</button></td>
                                  <td><button  class="delete-btn" onclick="location.href='{% url 'delete' foo.id %}'">
                                    Delete</button>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
    </div>

</body>
</html>