<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="192.168.2.7" />
    <add key="ClientServicesPort" value="9202" />
    <add key="ServerInstance" value="BIGI" />
    <add key="TenantId" value="" />
    <add key="ClientServicesProtectionLevel" value="EncryptAndSign" />
    <add key="UrlHistory" value="localhost:9011/DynamicsNAV90,192.168.1.150:9011/BRENT,jupiter:9302/BRENTGROUP" />
    <add key="ClientServicesCompressionThreshold" value="64" />
    <add key="ClientServicesChunkSize" value="28" />
    <add key="ClientServicesKeepAliveInterval" value="120" />
    <add key="MaxNoOfXMLRecordsToSend" value="5000" />
    <add key="MaxImageSize" value="26214400" />
    <add key="ClientServicesCredentialType" value="UserName" />
    <add key="ACSUri" value="" />
    <add key="AllowNtlm" value="true" />
    <add key="ServicePrincipalNameRequired" value="False" />
    <add key="ServicesCertificateValidationEnabled" value="true" />
    <add key="DnsIdentity" value="" />
    <add key="HelpServer" value="JUPITER" />
    <add key="HelpServerPort" value="49000" />
    <add key="ProductName" value="" />
    <add key="UnknownSpnHint" value="(net.tcp://jupiter.brentgroup.local:9002/dynamicsnav90/Service)=NoSpn;(net.tcp://localhost:9002/DynamicsNAV90/Service)=NoSpn;(net.tcp://localhost:9021/BRENT_DB/Service)=NoSpn;(net.tcp://192.168.1.150:9002/DynamicsNav90/Service)=NoSpn;(net.tcp://192.168.1.150:9021/BRENT_DB/Service)=NoSpn;(net.tcp://192.168.1.150:9011/BRENT/Service)=NoSpn;(net.tcp://10.10.0.112:7051/BRENT/Service)=NoSpn;(net.tcp://10.10.0.112:9302/BRENTGROUP/Service)=NoSpn;(net.tcp://jupiter:9302/BRENTGROUP/Service)=NoSpn;(net.tcp://10.255.10.90:9302/BRENTGROUP/Service)=NoSpn;(net.tcp://nav.brentgrp.com:9302/BRENTGROUP/Service)=NoSpn;" />
  </appSettings>
</configuration>
